.horizontal-slider {
    width: 100%;
    max-width: 500px;
    height: 10px;
    margin: 10px auto ;
  }
  .example-thumb {
    cursor: pointer;
    position: absolute;
    z-index: 100;
    background: #ffffff;
    border: 5px solid rgb(54, 162, 235);
    border-radius: 100%;
    display: block;
    box-shadow: 0 0 2px 0 rgb(0 0 0 / 44%);
  }
  .example-thumb.active {
    background-color: #000000;
  }
  .example-track {
    position: relative;
    background: #ddd;
    border-radius: 25px;
  }
  .example-track.example-track-0 {
    background: rgb(54, 162, 235);
  }
  .horizontal-slider .example-track {
    top: 20px;
    height: 4px;
  }
  .horizontal-slider .example-thumb {
    top: 12px;
    width: 10px;
    outline: none;
    height: 10px;
    line-height: 38px;
  }

@media only screen and (max-width: 600px) {
    .horizontal-slider{
        width: 90%;
        margin: 10px 5% 45px 5%;
    }

}